attrs==22.1.0
Flask==2.2.2
gunicorn==20.1.0
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.1
PyJWT==2.6.0
PyMySQL==1.0.2
pyproject-toml==0.0.10
python-dotenv==0.21.0
pyrsistent==0.19.2
requests==2.28.1
toml==0.10.2
zipp==3.11.0